/*************TAG Selector*************/
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3, a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

/*************CLASS Selector*************/
.top-container {
    background-color: #E4f9f5;
    padding-top: 100px;
    position: relative;
}

.middle-container {
}

.bottom-container {
}

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    bottom: 1000px;
    left: 65%;
    position: absolute;
    top: 40px;
}

.myPic {
    border-radius: 360px;
    height: 150px;
}

.computer-img {
    height: 400px;
}

.pro {
    text-decoration: underline;
}
